/* CSC309 Assignment 3 Summer 2016 */
/* By Daniil Kouznetsov */

body {
  background-color: teal;
  margin: 0;
  height: 100%;
  position:relative;
}

img {
  display:hidden;
}

footer {
  text-align: center;
  color: black;
}

.article-container {
  width: 100%;
  background-color: red;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

.article {
  width: 80%;
  background-color: teal;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}
